<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711470569320-p67aeqv4q00bs6v84rlkra1he49arukm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711470569320-p67aeqv4q00bs6v84rlkra1he49arukm</string>
	<key>API_KEY</key>
	<string>AIzaSyA67c90zqNaI06nv2b1274h5qgpx__UbH8</string>
	<key>GCM_SENDER_ID</key>
	<string>711470569320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kap.kap</string>
	<key>PROJECT_ID</key>
	<string>kap-kayk</string>
	<key>STORAGE_BUCKET</key>
	<string>kap-kayk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711470569320:ios:e85aa04e632512ee3268dd</string>
</dict>
</plist>